Source: cfroute
Section: contrib/mail
Priority: optional
Maintainer: Pavel Andreew <pavel@collage.etel.ru>
Build-Depends: debhelper (>> 3.0.0), libsmapi2cur-dev(>=2.5-1), libfidoconf1-dev(>= 1.9-1)
Standards-Version: 3.5.6

Package: cfroute
Architecture: any
Depends: ${shlibs:Depends}
Description: Very powerful Netmail Router for Binkley Style Outbound
 Alternate routing based upon Destination system, origin system,
 day of the week, file attach and encryption.
 Extremely flexible parser.
 Very powerful wildcard processor.
 Generates type 2 and 2+ packets.
 Unlimited number of AKAs, passwords, routes, etc. No hardcoded limits!
 Multiple netmail directories.
